html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: Segoe UI;
  text-rendering: optimizeLegibility;
  background-color: transparent;
  color: #000;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}