.page {
    overflow: hidden;
    width: 100vw;
    position: relative;
}

.uptalentLogoG {
    background-image: url(../assets/mobile/logog.png);
    width: 180px;
    height: 54px;
    margin: 20px 15px 15px 20px;
}

.menuOpcoes {
    display: none;
}

.imgHero{
    background-image: url(../assets/mobile/hero.png);
    width: 800px;
    height: 1015px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    top: -180px;
    left: 10px;
}

.tituloMain {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    margin: 40px 20px 20px 20px;
}

.textoMain {
    font-size: 20px;
    line-height: 22px;
    width: 260px;
    margin: 0 0 0 20px;
}

.blackBar {
    width: 50px;
    height: 12px;
    background-color: #000;
    margin: 50px 0 0 220px;
}

.imgAnalyst{
    background-image: url(../assets/mobile/analyst.png);
    width: 456px;
    height: 300px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    margin: -130px 0 0 0;
}

.tituloServicos {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    margin: 180px 0 20px 220px;
}

.textoServicos {
    font-size: 20px;
    line-height: 22px;
    width: 250px;
    margin: 0 0 0px 125px;
    text-align: right;
}

.containerServicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 370px;
    margin: 100px auto 50px auto;
}

.topicoServicos1 {
    font-size: 15px;
    line-height: 20px;
    color: #E7CA29;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px 45px 0;
}

.topicoServicos2 {
    font-size: 15px;
    line-height: 20px;
    color: #E7CA29;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px 0 0;
}

.topicoServicos3 {
    font-size: 15px;
    line-height: 20px;
    color: #E7CA29;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topicoServicos4 {
    font-size: 15px;
    line-height: 20px;
    color: #E7CA29;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px 0 -30px;
}

.topicoServicos5 {
    font-size: 15px;
    line-height: 20px;
    color: #E7CA29;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svc1 {
    background-image: url(../assets/mobile/svc1.png);
    width: 58px;
    height: 58px;
    margin: 0 0 10px 0;
}

.svc2 {
    background-image: url(../assets/mobile/svc2.png);
    width: 58px;
    height: 58px;
    margin: 0 0 10px 0;
}

.svc3 {
    background-image: url(../assets/mobile/svc3.png);
    width: 58px;
    height: 42px;
    margin: 0 0 10px 0;
}

.svc4 {
    background-image: url(../assets/mobile/svc4.png);
    width: 58px;
    height: 59px;
    margin: 0 0 10px 0;
}

.svc5 {
    background-image: url(../assets/mobile/svc5.png);
    width: 58px;
    height: 58px;
    margin: 0 0 10px 0;
}

.bgDiferencial {
    background-color: #57B89B;
    border-radius: 30px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloDiferencial {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin: 50px 0 10px 50px;
}

.imgBall {
    background-image: url(../assets/mobile/ball.png);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    margin: -110px 0 0 -515px;
    transform: rotate(280deg);
}

.purpleBar {
    width: 60px;
    height: 10px;
    background-color: #291234;
    margin: 0px 0 50px 50px;
}

.textoDiferencial {
    font-size: 16px;
    line-height: 22px;
    width: 70vw;
    margin: 0 0 0 -40px;
}

.imgIdea{
    background-image: url(../assets/mobile/idea.png);
    width: 422px;
    height: 300px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    margin: 200px 0 0 650px;
}

.botaoDiferencial {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #EABD11;
    background: #291234;
    border-radius: 50px;
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    cursor: pointer;
}

.tituloClientes {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #EABD11;
    width: 300px;
    margin: 80px auto 10px auto;
}

.greenBar {
    width: 60px;
    height: 10px;
    background-color: #57B89B;
    margin: 0 auto 30px auto;
}

.bgClientes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #EABD11;
    border-radius: 20px;
    width: 90vw;
    margin: 0 auto;
}

.yoLogo {
    background-image: url(../assets/mobile/logoyo.png);
    width: 140px;
    height: 101px;
    margin: 50px 0 50px 0;
}

.tripLogo {
    background-image: url(../assets/mobile/logotrip.png);
    width: 290px;
    height: 35px;
    margin: 50px 0 50px 0;
}

.pointLogo {
    background-image: url(../assets/mobile/logopoint.png);
    width: 179px;
    height: 67px;
    margin: 50px 0 50px 0;
}

.tituloEquipe {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    width: 320px;
    margin: 50px auto 15px auto;
}

.yellowBar {
    width: 60px;
    height: 10px;
    background-color: #EABD11;
    margin: 0 auto 50px auto;
}

.containerEquipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFabi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
}

.fotoFabi {
    background-image: url(../assets/mobile/fotofabi.png);
    width: 300px;
    height: 300px;
}

.tituloFabi {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0 0 0;
}

.textoFabi {
    font-size: 18px;
    line-height: 30px;
}

.containerCarol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
}

.fotoCarol {
    background-image: url(../assets/mobile/fotocarol.png);
    width: 300px;
    height: 300px;
}

.tituloCarol {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0 0 0;
}

.textoCarol {
    font-size: 18px;
    line-height: 30px;
}

.bgContratacao {
    background-image: url(../assets/mobile/bgcontratacao.png);
    width: 1898px;
    height: 1898px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    left: -730px;
    margin: 40px 0 0 0;
}

.tituloContratacao {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    width: 350px;
    margin: 140px auto 50px auto;
    color: #291234;
}

.whiteBar {
    width: 60px;
    height: 12px;
    background-color: #fff;
    margin: -40px auto 50px auto;
}

.imgGear {
    background-image: url(../assets/mobile/gear.png);
    width: 490px;
    height: 300px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    margin: 0 0 0 290px;
}

.imgBall2 {
    background-image: url(../assets/mobile/ball2.png);
    width: 204px;
    height: 219px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    margin: 380px 0 0 -120px;
    transform: rotate(240deg);
}

.containerContratacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.contratacaoPontual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}

.fotoPontual {
    background-image: url(../assets/mobile/contratacaopontual.png);
    width: 99px;
    height: 106px;
}

.tituloPontual {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.textoPontual {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.contratacaoFee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

.fotoFee {
    background-image: url(../assets/mobile/contratacaofee.png);
    width: 108px;
    height: 108px;
}

.tituloFee {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.textoFee {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.contratacaoHub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 90px 0;
}

.fotoHub {
    background-image: url(../assets/mobile/contratacaohub.png);
    width: 150px;
    height: 86px;
}

.tituloHub {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.textoHub {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.bgContato {
    background-color: #291234;
    color: #fff;
    height: 1310px;
    border-radius: 30px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloContato {
    color: #DF887C;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin: 80px 0 0 0;
}

.aquaBar {
    width: 60px;
    height: 12px;
    background-color: #57B89B;
    margin: 10px auto 70px auto;
}

.textoContato {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    width: 260px;
    margin: 0px 0 50px 0;
}

.nomeContato {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 0 30px 0;
    width: 300px;
    padding: 3px;
}

.emailContato {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 3px;
}

.telefoneContato {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 3px;
}

.mensagemContato {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 0 0 100px 0;
}

.botaoContato {
    background-color: #57B89B;
    width: 141px;
    height: 41px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    cursor: pointer;
}

.imgBall3 {
    background-image: url(../assets/mobile/ball3.png);
    width: 144px;
    height: 200px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    margin: 650px 0 0 320px;
    transform: rotate(280deg);
}

.infosContato {
    display: flex;
    flex-direction: column;
    margin: 60px 0 40px 0;
    width: 280px;
}

.emailtituloContato {
    font-size: 15px;
    line-height: 30px;
}

.emailendContato {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.endtituloContato {
    font-size: 15px;
    line-height: 30px;
}

.enderecoContato {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.mapaContato {
    background-image: url(../assets/mobile/mapa.png);
    width: 350px;
    height: 248px;
    margin: 15px auto 0 auto;
}

.footer {
    display: flex;
    flex-direction: column;
}

.uptalentLogoP {
    background-image: url(../assets/mobile/logop.png);
    width: 123px;
    height: 37px;
    margin: 50px 0 30px 30px;
    cursor: pointer;
}

.sociais {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: -70px 0 0 205px;
}

.logoFacebook {
    background-image: url(../assets/facebook.png);
    width: 16px;
    height: 35px;
    cursor: pointer;
}

.logoInstagram {
    background-image: url(../assets/instagram.png);
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.logoLinkedin {
    background-image: url(../assets/linkedin.png);
    width: 31px;
    height: 29px;
    cursor: pointer;
}

.copyright{
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.menuOpcoes2 {
    display: none;
}




